/******************* 颜色变量 ***********************/

/* 主题色 */
$uni-text-color-theme:#00b5c4;

/* 文字基本颜色 */
$uni-text-color:#333;//基本色
$uni-text-color-inverse:#fff;//反色
$uni-text-color-grey:#999;//辅助灰色，如加载更多的提示信息
$uni-text-color-grey2:#666;//辅助灰色，如加载更多的提示信息
$uni-text-color-placeholder: #949494;
$uni-text-color-disable:#c0c0c0;

/* 背景颜色 */
$uni-bg-color:#ffffff; 
$uni-bg-color-grey:#f2f2f2;
$uni-bg-color-grey2:#d8d8d8;
$uni-bg-color-mask:rgba(0, 0, 0, 0.4);//遮罩颜色

/* 边框颜色 */
$uni-border-color:#e2dcf2;

/* 行为相关颜色 */
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;
/*********************** 尺寸变量 ***********************/

/* 文字尺寸 */
$uni-font-size-sm1:22upx;
$uni-font-size-sm2:26upx;
$uni-font-size-base:30upx;
$uni-font-size-lg1:34upx;
$uni-font-size-lg2:38upx;

/* Border Radius */
$uni-border-radius-sm1: 4upx;
$uni-border-radius-sm2: 6upx;
$uni-border-radius-base: 8upx;
$uni-border-radius-lg1: 10upx;
$uni-border-radius-lg2: 12upx;


/************************ 通用 ********************************/
page{
	height: 100%;
	line-height:1.8;
	background: $uni-bg-color-grey;
	font-size: $uni-font-size-base;
	color: $uni-text-color;
}

/* 大按钮 */
.submit-btn{
	margin: 50upx 0;
	button{
		height: 95upx;
		line-height: 95upx;
		font-size: $uni-font-size-lg1;
		color: $uni-text-color-inverse;
		background: $uni-text-color-theme;
		border-radius: $uni-border-radius-lg;
	}
}

/* 标题 */
.uni-h1 {font-size: 80upx; font-weight:bold;}
.uni-h2 {font-size: 60upx; font-weight:bold;}
.uni-h3 {font-size: 50upx; font-weight:bold;}
.uni-h4 {font-size: 40upx; font-weight:bold;}
.uni-h5 {font-size: 30upx; font-weight:bold;}


/* 无数据 */
.no-data{
	text-align: center;
	line-height: 120upx;
	color: $uni-text-color-grey;
}

/* 强调色 */
.color-important{
	color: #f74c45;
}

/* 溢出隐藏 */
.text-overflow-three,
.text-overflow-one,
.text-overflow-two {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.text-overflow-one {-webkit-line-clamp: 1;}
.text-overflow-two {-webkit-line-clamp: 2;}
.text-overflow-three {-webkit-line-clamp: 3;}

/* flex */
.flex-center{
	display: flex;
	align-items: center;
}
.flex-center-between{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flex-center-around{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
